.navbar {
    margin: auto;
}
.navbar ul {
    list-style-type: none;
    background-color: black;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
.navbar li {
    display: inline-block;
}
.navbar a {
    float: left;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
}
.navbar a:hover {
    text-decoration: underline;
}

.comingSoonDiv {
    margin-top: 300px;
    text-align: center;
}
.comingSoonText {
    font-family: Roboto;
    font-size: 100px;
}

@media only screen and (max-device-width: 500px) {
    .navbar a {
        padding: 50px;
        font-size: 50px;
    }

    .comingSoonDiv {
        width: 80%;
        margin: auto;
        padding-top: 500px;
        text-align: center;
    }
    .comingSoonText {
        font-family: Roboto;
        font-size: 100px;
    }
}