html {
    overflow-x: hidden;
    overflow-anchor: none;
}

.navbar {
    margin: auto;
}
.navbar ul {
    list-style-type: none;
    background-color: black;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
.navbar li {
    display: inline-block;
}
.navbar a {
    float: left;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
}
.navbar a:hover {
    text-decoration: underline;
}

.allAboardDiv {
    width: 50%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.allAboardText {
    position: relative;
    color: black;
    font-size: 100px;
    font-family: Roboto;
    overflow: hidden;
    white-space: nowrap;
    width: 0px;
    display: inline-block;

    animation-name: fadeLettersIn;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    z-index: 2;
}

.jacobExpressDiv {
    width: 50%;
    margin: auto;
    padding-top: -100px;
    text-align: center;
}
.jacobExpressText {
    position: relative;
    opacity: 0;
    color: black;
    font-size: 120px;
    font-family: Roboto;

    animation-name: transitionUp;
    animation-delay: 3.0s;
    animation-duration: 1.0s;
    animation-fill-mode: forwards;
    z-index: 2;
}

.topJacobImageDiv1 {
    margin-top: -38%;
    margin-left: 5%;
}
.topJacobImage1 {
    opacity: 0;
    position: relative;
    width: 300px;
    border-radius: 50%;
    display: inline-block;
    z-index: 1;

    animation-name: bounceIn;
    animation-delay: 4s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.topJacobImageDiv2 {
    margin-top: -10%;
    margin-left: 80%;
}
.topJacobImage2 {
    opacity: 0;
    position: relative;
    width: 300px;
    border-radius: 50%;
    display: inline-block;
    z-index: 1;

    animation-name: bounceIn;
    animation-delay: 4.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.topJacobImageDiv3 {
    margin-top: 0%;
    margin-left: 15%;
}
.topJacobImage3 {
    opacity: 0;
    position: relative;
    width: 300px;
    border-radius: 50%;
    display: inline-block;
    z-index: 1;

    animation-name: bounceIn;
    animation-delay: 5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.aboutDiv {
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 100px;
    text-align: center;

    background-color: #dbffde;
}
.aboutText {
    opacity: 0;
    position: relative;
    color: black;
    font-size: 100px;
    font-family: Roboto;
}

.aboutSectionDiv {
    padding-top: 30px;
    margin: auto;
    width: 70%;
    text-align: center;
    overflow: hidden;
}
.aboutImageDiv {
    display: inline-block;
}
.aboutImage {
    opacity: 0;
    width: 400px;
    border-radius: 10%;
}
.aboutContainerDiv {
    display: inline-block;
    height: auto;
    padding-bottom: 50px;
    width: 50%;
}
.aboutParagraphDiv {
    display: inline-block;
    padding: 50px;
    padding-bottom: 80px;
    vertical-align: bottom;
    width: 80%;
}
.aboutParagraph {
    opacity: 0;
    font-size: 30px;
    font-family: Roboto;
    color: #616161;
}

.aboutButtonDiv {
    width: 50%;
    margin: auto;
    text-align: center;
}
.aboutButton {
    position: relative;
    color: black;
    font-size: 20px;
    font-family: Roboto;

    appearance: button;
    -webkit-appearance: none;
    text-decoration: none;
    color: initial;
    padding: 15px;
    border: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 100px;
    background-color: white;
}
.aboutButton:hover {
    animation-name: hoverButton;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.projectsDiv {
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 100px;
    text-align: center;

    background-color: #ebf8fc;
}
.projectsText {
    opacity: 0;
    position: relative;
    color: black;
    font-size: 100px;
    font-family: Roboto;
}

.wrapper {
    width: 70%;
    margin: auto;
    margin-top: 120px;
    padding-top: -200px;
    text-align: center;
}
.fromToDiv {
    width: 100%;
    text-align: left;
}
.fromUI {
    position: relative;
    color: black;
    font-size: 70px;
    font-family: Roboto;
}
.words {
    display: inline;
    text-indent: 10px;
    margin-right: -100px;

    color: black;
    font-size: 70px;
    font-family: Roboto;
}
.words span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    font-weight: 700;

    animation: rotateWords 9s linear infinite;
}
.words span:nth-child(1) {
    color: #049437;
}
.words span:nth-child(2) {
    color: #043b94;
    animation-delay: 3s;
}
.words span:nth-child(3) {
    color: #430494;
    animation-delay: 6s;
}

.projectsButtonDiv {
    width: 50%;
    margin: auto;
    margin-top: 120px;
    text-align: center;
}
.projectsButton {
    position: relative;
    color: black;
    font-size: 20px;
    font-family: Roboto;

    appearance: button;
    -webkit-appearance: none;
    text-decoration: none;
    color: initial;
    padding: 15px;
    border: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 100px;
    background-color: white;
}
.projectsButton:hover {
    animation-name: hoverButton;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.endDiv {
    margin-top: 200px;
    text-align: center;
    margin-bottom: 200px;
}
.endText {
    opacity: 0;
    color: black;
    font-size: 100px;
    font-family: Roboto;
}

.contactDiv {
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: black;
    text-align: center;
}
.getInTouchText {
    position: relative;
    color: white;
    font-size: 20px;
    font-family: Roboto;
}
.contactMeLink {
    position: relative;
    color: white;
    font-size: 20px;
    font-family: Roboto;
}

@media only screen and (max-device-width: 500px) {
    .navbar a {
        padding: 50px;
        font-size: 50px;
    }

    .allAboardDiv {
        width: 100%;
        margin: 0;
        padding-top: 100px;
        text-align: center;
    }
    .allAboardText {
        white-space: pre;

        position: relative;
        color: black;
        font-size: 100px;
        font-family: Roboto;
        overflow: hidden;
        white-space: nowrap;
        width: 0px;
        display: inline-block;
    }

    .topJacobImageDiv1 {
        margin-top: -90%;
        margin-left: 5%;
    }
    .topJacobImageDiv2 {
        margin-top: 10%;
        margin-left: 65%;
    }
    .topJacobImageDiv3 {
        margin-top: 0%;
        margin-left: 15%;
        padding-bottom: 200px;
    }

    .aboutDiv {
        padding-top: 100px;
    }
    .aboutText {
        margin: auto;
        width: 80%;
    }
    .aboutImage {
        opacity: 0;
        width: 600px;
        border-radius: 10%;
    }
    .aboutContainerDiv {
        display: inline-block;
        height: auto;
        padding-bottom: 50px;
        width: 100%;
    }
    .aboutParagraph {
        opacity: 0;
        font-size: 50px;
        font-family: Roboto;
        color: #616161;
    }
    .aboutButton {
        position: relative;
        color: black;
        font-size: 50px;
        font-family: Roboto;
    
        appearance: button;
        -webkit-appearance: none;
        text-decoration: none;
        color: initial;
        padding: 40px;
        border: 8px;
        border-style: solid;
        border-color: black;
        border-radius: 100px;
        background-color: white;
    }

    .projectsDiv {
        margin-top: 100px;
        padding-top: 100px;
        padding-bottom: 100px;
        text-align: center;
    
        background-color: #ebf8fc;
    }
    .projectsText {
        opacity: 0;
        width: 80%;
        margin: auto;
        position: relative;
        color: black;
        font-size: 100px;
        font-family: Roboto;
    }
    .wrapper {
        width: 80%;
        margin: auto;
        margin-top: 120px;
        padding-top: -200px;
        text-align: center;
    }
    .fromUI {
        position: relative;
        color: black;
        font-size: 90px;
        font-family: Roboto;
    }
    .words {
        display: inline;
        text-indent: 20px;
        margin-right: 0px;
    
        color: black;
        font-size: 90px;
        font-family: Roboto;
    }
    .words span {
        width: 80%;
    }
    .projectsButtonDiv {
        width: 50%;
        margin: auto;
        margin-top: 300px;
        text-align: center;
    }
    .projectsButton {
        position: relative;
        color: black;
        font-size: 50px;
        font-family: Roboto;
    
        appearance: button;
        -webkit-appearance: none;
        text-decoration: none;
        color: initial;
        padding: 40px;
        border: 8px;
        border-style: solid;
        border-color: black;
        border-radius: 100px;
        background-color: white;
    }

    .endDiv {
        width: 80%;
        text-align: center;
        padding-top: 200px;
        padding-bottom: 100px;
        margin: auto;
    }
    .endText {
        opacity: 0;
        color: black;
        font-size: 110px;
        font-family: Roboto;
    }

    .contactDiv {
        margin-top: 100px;
        padding-top: 10px;
        padding-bottom: 100px;
        background-color: black;
        text-align: center;
    }
    .getInTouchText {
        position: relative;
        padding: 30px;
        color: white;
        font-size: 30px;
        font-family: Roboto;
    }
    .contactMeLink {
        position: relative;
        color: white;
        font-size: 30px;
        font-family: Roboto;
    }
}


.transitionUp {
    animation-name: transitionUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.transitionDown {
    animation-name: transitionDown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.transitionLeft {
    animation-name: transitionLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.transitionRight {
    animation-name: transitionRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes hoverButton {
    to {
        background-color: #efefef;
    }
}

@keyframes rotateWords {
    0% {
      opacity: 0;
    }
    2% {
      opacity: 0;
      transform: translateY(-30px);
    }
    5% {
      opacity: 1;
      transform: translateY(0px);
    }
    17% {
      opacity: 1;
      transform: translateY(0px);
    }
    20% {
      opacity: 0;
      transform: translateY(30px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}

@keyframes bounceIn {
    from {
        opacity: 0;
        transform: scale(0, 0);
    }
    10% {
        opacity: 1;
    }
    40% {
        transform: scale(1.5, 1.5);
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes transitionUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}
@keyframes transitionDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}
@keyframes transitionRight {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}
@keyframes transitionLeft {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeLettersIn {
    65% {
        width: 480px;
    }
    to {
        width: 900px;
    }
}