.navbar {
    margin: auto;
}
.navbar ul {
    list-style-type: none;
    background-color: black;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
.navbar li {
    display: inline-block;
}
.navbar a {
    float: left;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
}
.navbar a:hover {
    text-decoration: underline;
}

.allAboardDiv {
    width: 50%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.allAboardText {
    position: relative;
    color: black;
    font-size: 100px;
    font-family: Roboto;
    overflow: hidden;
    white-space: nowrap;
    width: 0px;
    display: inline-block;

    animation-name: fadeLettersIn;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    z-index: 2;
}

.jacobExpressDiv {
    width: 50%;
    margin: auto;
    padding-top: -100px;
    text-align: center;
}
.jacobExpressText {
    position: relative;
    opacity: 0;
    color: black;
    font-size: 120px;
    font-family: Roboto;

    animation-name: transitionUp;
    animation-delay: 3.0s;
    animation-duration: 1.0s;
    animation-fill-mode: forwards;
    z-index: 2;
}

.topJacobImageDiv1 {
    margin-top: -38%;
    margin-left: 5%;
}
.topJacobImage1 {
    opacity: 0;
    position: relative;
    width: 300px;
    border-radius: 50%;
    display: inline-block;
    z-index: 1;

    animation-name: bounceIn;
    animation-delay: 4s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.topJacobImageDiv2 {
    margin-top: -10%;
    margin-left: 80%;
}
.topJacobImage2 {
    opacity: 0;
    position: relative;
    width: 300px;
    border-radius: 50%;
    display: inline-block;
    z-index: 1;

    animation-name: bounceIn;
    animation-delay: 4.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.topJacobImageDiv3 {
    margin-top: 0%;
    margin-left: 15%;
}
.topJacobImage3 {
    opacity: 0;
    position: relative;
    width: 300px;
    border-radius: 50%;
    display: inline-block;
    z-index: 1;

    animation-name: bounceIn;
    animation-delay: 5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes bounceIn {
    from {
        opacity: 0;
        transform: scale(0, 0);
    }
    10% {
        opacity: 1;
    }
    40% {
        transform: scale(1.5, 1.5);
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes transitionRight {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translate(30px);
    }
}
@keyframes transitionUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeLettersIn {
    65% {
        width: 480px;
    }
    to {
        width: 900px;
    }
}